*{
    margin: 0;
    padding: 0;
}
body{
     background: rgba(20, 17, 14, 1);
}
header{
    width: 100%;
    height: 100vh;
     background-image: url(./back.png);
    background-size: cover;
}
a{
      text-decoration: none;
}
header nav{
    width: 100%;
    height: 100px;
    background-color: rgba(28, 24, 20, 1);
    align-items: center;
}

nav .div{
    display: flex;
    width: 80%;
     height: 100px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
nav menu{
    display: flex;
}
nav menu ul{
    display: flex;
    gap: 25px;
    font-size: 18px;
   
  
}
nav menu ul li{
    list-style: none;
     
}
nav menu ul li a{
    color: white;
}
 .div menu  li :hover,
 .div menu  a.active{
    color: rgba(201, 158, 113, 1);
}
.head-left{
    width: 50%;
    height: 100vh;

  display: flex;
  justify-content: flex-end;
 
}
.div1{
    width: 70%;
    height: 400px;
    
     margin-top: 100px;
     position: relative;
}
.head-left .div1 h1{
    color: rgba(255, 255, 255, 1);


font-size: 72px;
font-weight: 400;
line-height: 89px;
letter-spacing: 0%;
text-align: left;
}
.head-left .div1 p{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);


font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 24px;

text-align: left;

}
.head-left .div1 a{
    position: absolute;
    bottom: 2px;
    left: 0px;
    color: rgba(255, 255, 255, 1);


font-style: Bold;
font-size: 18px;
font-weight: 700;
gap: 10;
padding: 24px 40px 24px 40px;
background: rgba(201, 158, 113, 1);

}
.head-right{
    width: 50%;
    height: 100vh;
   position: relative;
    position: absolute;
    right: 1px ;
}
.head-right div{
    box-sizing: border-box;
border: 1.5px solid rgba(255, 255, 255, 1);
width: 70px;
height: 68.35px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
right: 274px;
top: 378px;
}
.head-right div i{
   
width: 14px;
height: 18px;
color: white;
}
main{
   background: rgba(20, 17, 14, 1);
   
}
main .center{
    width: 1170px;
    height: 3002px;
    margin: 0px auto;
    
}
.boxes1{
    width: 100%;
    height: 474px;
    display: flex;
    justify-content: space-between;
}
.boxes1 p{
    padding: 10px 10px;
    font-size: 24px;
    color: white;
}
.boxes1 p span{
    color: rgba(201, 158, 113, 1);
}
.boxes2{
    margin-top: 100px;
    width: 100%;
    height: 635px;
    display: flex;
    justify-content: space-between;
}

.boxes2  .box1{
    width: 298px;
    height: 635px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}
.boxes2  .box3{
    width: 510px;
    height: 635px;
    background-color: rgba(28, 24, 20, 1);
}

.boxes2  .box1 div img{
    width: 298px;
    height: 302px;
}
.boxes2 .box2  div img{
    width: 298px;
    height: 635px;
}
.boxes2  .box3 .box3d{
    padding-top: 120px ;
    padding-left: 56px;
    color: white;
}
.boxes2  .box3 .box3d p{
    font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 19px;
opacity: 0.8;
margin-top: 40px;
margin-bottom: 15px;
}
.boxes2  .box3 .box3d p span{
    color: rgba(201, 158, 113, 1);
    

font-size: 18px;
font-weight: 600;
line-height: 100%;
}

.boxes2  .box3 .box3d h1{
font-size: 48px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
}
.boxes3{
    width: 100%;
    height: 845px;
    position: relative;
}
.center .boxes3 p{
    margin-top: 100px ;
    text-align: center;
color: rgba(201, 158, 113, 1);


font-size: 18px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;

}
.center .boxes3 h1{
    text-align: center;
    color: rgba(255, 255, 255, 1);
font-size: 48px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
}
.d-flex{
    margin-top: 30px;
    width: 100%;
    height: 579px;
    display: flex;
    justify-content: space-between;
    background: rgba(20, 17, 14, 1);
}
.d-flex .bok1{
  background: rgba(18, 19, 21, 1);
width: 366px;
height: 579px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
color: white;
}
.d-flex .bok1 img{
   
width: 270px;
height: 343px;
}
.d-flex .bok1 a{
padding: 15px 30px ;
background: rgba(201, 158, 113, 1);
text-align: center;


color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 600;
line-height: 100%;
}
.d-flex .bok1 h2{
        color: rgba(255, 255, 255, 1);


font-size: 24px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.d-flex .bok2{
  background: rgba(18, 19, 21, 1);
width: 366px;
height: 579px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.d-flex .bok2 img{
   
width: 270px;
height: 343px;

}
.d-flex .bok2 h3{
    color: rgba(201, 158, 113, 1);


font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.d-flex .bok2 h1{
    color: rgba(255, 255, 255, 1);


font-size: 24px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.d-flex .bok2 h2{
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
}
.d-flex .bok2 h2 span{
     color: rgba(201, 158, 113, 1);
}
.d-flex .bok3{
  background: rgba(18, 19, 21, 1);
width: 366px;
height: 579px;
}
.boxes3 >  a{
padding: 20px 35px ;
background: rgba(201, 158, 113, 1);
text-align: center;
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 600;
line-height: 100%;
position: absolute;
bottom: 1px ;
left: 40%;
}
.boxes4{
    width: 100%;
    height: 530px;
    background-color: rgba(28, 24, 20, 1);
    margin-top: 130px;
    display: flex;
}
.boxes4 .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.boxes4 .left img{
    width: 226px;
    height: 359px;
}
.boxes4 .right{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;

}
.boxes4 .right h1{
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;

font-size: 48px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
}
.boxes4 .right  p{
    opacity: 0.8;
color: rgba(255, 255, 255, 0.8);

width: 526px;
height: 76px;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin-bottom: 80px;
}
.boxes4 .right a{
padding: 15px 30px ;
background: rgba(201, 158, 113, 1);
text-align: center;


color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 600;
line-height: 100%;
}
section{
    width: 100%;
    height: 3165px;
    background: rgba(20, 17, 14, 1);
}
section .center{
    width: 1170px;
    margin: 0 auto;
}
section .center .div1{
    width: 100%;
    height: 740px;
  
}
.center  .div1 p{
    color: rgba(201, 158, 113, 1);


font-size: 18px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
section .center .div1 h1{
    color: rgba(255, 255, 255, 1);


font-size: 48px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}
.menu{
    margin-top: 40px;
    width: 100%;
    height: 740px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.menu .num{
    border: 1px solid rgba(50, 50, 61, 1);
width: 565px;
height: 120px;
display: flex;
justify-content: space-around;
align-items: center;

}
.menu .num .img{
    width: 72px;
    height: 72px;
}
.menu .num .p{
width: 330px;
height: 30px;

}
.menu .num .p p{
color: rgba(255, 255, 255, 1);


font-size: 24px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;

} 
.menu .num .narx{
    color: rgba(201, 158, 113, 1);


font-size: 18px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: right;
width: 52px;
height: 18px;
}
section .center .div2{
    width: 100%;
    height: 549px;
    margin-top: 200px;
}
section .center .div2 p{
    color: rgba(201, 158, 113, 1);
    text-align: center;

font-size: 18px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;

}
section .center .div2 h1{
    color: rgba(255, 255, 255, 1);
font-size: 48px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}
section .center .div2 .content{
    width: 100%;
    height: 305px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
section .center .div2 .content .b0x{
    background-color: rgba(28, 24, 20, 1);
    /* 1 */
width: 565px;
height: 305px;
display: flex;

}
section .center .div2 .content .b0x .b0x1{
    width: 40%;
    height: 305px;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: space-around;
}
section .center .div2 .content .b0x .b0x1 div h4{
    color: rgba(255, 255, 255, 1);

font-family: Urbanist;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}
section .center .div2 .content .b0x .b0x1 div p{
    color: rgba(255, 255, 255, 0.5);
opacity: 0.8;
font-family: Urbanist;
font-style: Medium;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
section .center .div2 .content .b0x .b0x2{
    width: 60%;
    height: 305px;
        display: flex;
    flex-direction: column;
align-items: center;
justify-content: space-around;
}
section .center .div2 .content .b0x .b0x2 p{
    width: 332px;
height: 145px;
color: rgba(255, 255, 255, 0.8);
opacity: 0.8;

font-family: Urbanist;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
section .center .div2 .content .b0x .b0x2 div{
     width: 332px;
     height: 45px;
     text-align:end;
     margin-right: 15px;
}
section .center .div2 .content .b0x .b0x2 div i{
    margin-right: 5px;
}
.div2 .content .element{
   margin-top: 40px;
width: 120px;
height: 51px;
padding: 0;

}
.div2 .content .element p{
    color: rgba(201, 158, 113, 1);


font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.div2 .content .element div{
    width: 100%;
    height: 3px;
    margin-top: 33px;
    border-radius: 10px;
  background: RGBA(201, 158, 113, 1);
background: linear-gradient(90deg, rgba(201, 158, 113, 1) 43%, rgba(71, 69, 69, 1) 43%);
}
.div2 .content .element2{
    margin-top: 40px;
    display: flex;
}
.div2 .content .element2 div{
    /* Ellipse 3 */
width: 56px;
height: 56px;
transform: rotate(180.00deg);
background: rgba(18, 19, 21, 1);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.div2 .content .element2 div:hover,.div2 .content .element2 .active
{
   
    background: rgba(201, 158, 113, 1);
}
.div2 .content .element2 :hover i{
    color: #010201 !important;
}
.center .div3 {
    margin-top: 200px;
    width: 100%;
    height: 652px;
    background-color: rgba(28, 24, 20, 1);
    display: flex;
}
.center .div3 .element {
    width: 50%;
    height: 652px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center .div3 .element  h5{
    color: rgba(201, 158, 113, 1);

font-family: Urbanist;
font-style: SemiBold;
font-size: 18px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;
}
.center .div3 .element  p{
    color: rgba(255, 255, 255, 1);

font-family: Righteous;
font-style: Regular;
font-size: 48px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.center .div3 .element  div{
    background: rgba(20, 17, 14, 1);
width: 489px;
height: 64px;
margin: 20px;
}
.center .div3 .element  div p{
    color: rgba(255, 255, 255, 0.8);

font-family: Urbanist;
font-style: SemiBold;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
padding-top: 20px;
padding-left: 10px;
}
.center .div3 .element  a{
    margin-top: 50px;
padding: 15px 30px ;
background: rgba(201, 158, 113, 1);
text-align: center;


color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 600;
line-height: 100%;
}
.center .div4{
    width: 100%;
    height: 680px;
    margin-top:150px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.center .div4 .tittle{
    width: 100%;
}
.center .div4 .tittle h5{
    color: rgba(201, 158, 113, 1);

font-family: Urbanist;
font-style: SemiBold;
font-size: 18px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.center .div4 .tittle p{
    color: rgba(255, 255, 255, 1);

font-family: Righteous;
font-style: Regular;
font-size: 48px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}
.center .div4 .box{
    /* Bg */
width: 366px;
height: 528px;
background: rgba(28, 24, 20, 1);
margin-top:50px ;
}
.center .div4 .box p{
    display: inline-block;
    font-family: Urbanist;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
color: white;
padding-left: 20px;
padding-top: 10px;
}
.center .div4 .box p span{
    color: rgba(201, 158, 113, 1);
}
.center .div4 .box .p{
    padding-left: 150px;
}
.center .div4 .box h4{
    color: rgba(255, 255, 255, 1);

font-family: Righteous;
font-style: Regular;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
padding-left: 20px;
padding-top: 20px;
padding-bottom: 40px;
}
.center .div4 .box a{
    color: rgba(201, 158, 113, 1);

font-family: Urbanist;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
padding-left: 20px;

}
.center .div4 .box i{
    color: rgba(201, 158, 113, 1) !important;
    font-size: 16px;
}
footer{
    /* Footer */
width: 100%;
height: 234px;


}
footer nav{
   width: 1170px;
    height: 234px;
    margin: 0 auto;  
display: flex;
align-items: center;
justify-content: space-between;
}
footer nav menu ul{
    color: rgba(255, 255, 255, 1);

font-family: Urbanist;
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
footer nav .div{
    /* Rectangle 3 */
width: 328px;
height: 72px;
border-radius: 36px;
background: rgba(28, 24, 20, 1);
display: flex;
justify-content: space-around;
align-items: center;
margin: 0 !important;
}
footer nav .div input{
    /* Enter your email */
width: 118px;
height: 29px;
opacity: 0.8;
color: rgba(255, 255, 255, 0.8);
background: rgba(28, 24, 20, 1);
font-family: Urbanist;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
border: none;
}
footer nav .div a{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(201, 158, 113, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer nav menu ul li:hover{
   color: rgba(201, 158, 113, 1) ;
   cursor: pointer;
}